<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="../home.html">
                <img src="../assets/images/logo.png" alt="Petcare Logo" width="30">
                Petcare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="../home.html"><i class="fas fa-home"></i> Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/profile.html"><i class="fas fa-user"></i> Hồ Sơ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/pet-profile.html"><i class="fas fa-paw"></i> Thú Cưng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/vaccination.html"><i class="fas fa-syringe"></i> Tiêm Phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/services.html"><i class="fas fa-tools"></i> Dịch Vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/booking.html"><i class="fas fa-calendar-alt"></i> Đặt Lịch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/cart.html"><i class="fas fa-shopping-cart"></i> Giỏ Hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/orders.html"><i class="fas fa-box"></i> Đơn Hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/promotions.html"><i class="fas fa-tags"></i> Khuyến Mãi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../user/review.html"><i class="fas fa-star"></i> Đánh Giá</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../auth/login.html"><i class="fas fa-sign-out-alt"></i> Đăng Xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>